body{
    margin: 0%;
    background-color: rgb(26, 25, 25);
}
#caja{
    background-color: rgba(12, 161, 7, 0.692);
    border-radius: 40%;
    width: 20px;
    height: 20px;
    position: absolute;
}
#caje{
    margin: 0%;
    border: solid 2px white;
    width: 400px;
    height: 400px;
}
.dato{
    display: none;
    background-color: rgb(92, 91, 89);
    width: 15px;
    height: 15px;
    margin: 12px;
}
.buttons{
    display: none;
    justify-content: center;
    margin: 5% 0%;
}

@media (Max-width: 780px){
    .buttons{
        display: block;
    }
}